.header{
    z-index: 10;
    transition: 0.5s;
    position: fixed;
    background: #ffffffea;
    // background: #FBFBFB;
    top: 0px; right: 0px;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    a{ position:fixed; right: 50%; top: 20px; transform: translateX(50%)}
    svg {
        width: 29px;
        height: 29px;
        cursor: pointer;
        path{ fill:rgb(36, 36, 36) }
        &:hover path{ fill:rgb(174, 0, 255); transition: 0.2s; }
    }
    .user{
        position: relative;
        svg{ margin-right: 20px }
    }
    .cartNumber{
        position: absolute;
        left: 4px;
        top: 8px;
        border-radius: 50%;
        font-weight: 500;
        height: 20px; width: 20px;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
        &:hover svg path{ fill: red }
    }
    // h1{
    //     text-indent: -9999px;
    //     height: 80px;
    //     width: 80px;
    //     background-position: center;
    //     background-size: cover;
    //     background-image: url('/assets/logo.png');
    // }
}