.postItemStyle{
    cursor: pointer;
    padding: 20px;
    display: grid;
    min-height: 250px;
    grid-template-columns: 200px 1fr;
    .postImage{
        background-position: center;
        background-size: cover;
        width: 200px;
        height: 200px;
        background: rgb(163, 163, 163);
    }
    > div:nth-child(2){
        padding: 0px 20px;
        text-align: right;
        h2{ 
            font-weight: 400;
            font-size: 30px;
            color: #4B4B4B;
            font-family: heebo;
        }
    }
}