.tableCart{
    h2{ color: rgb(61, 61, 61); font-size: 23px; padding-bottom: 10px;
        border-bottom: 1px solid rgb(206, 206, 206); }
    .cartItem{
        position: relative; 
        border-bottom: 1px solid rgb(206, 206, 206);
        display: flex;
        align-items: center;
        @media (max-width: 650px) { flex-direction: column; text-align: center; }
        div:nth-child(1){ 
            width: 100px;
            img{ width: 100% } 
            @media (max-width: 650px) {
                width: 100%;
                height: 250px;
                img { width: auto; height: 100%; }
            }
        }
        h3{ margin-bottom: 10px; }
        p{ margin-bottom: 10px; font-size: larger; }
        & > div{ padding: 20px; }
        div:nth-child(2){
            flex-grow: 3;
        }

    }
    .sumPrice{
        margin-left: 20px;
        @media (max-width: 650px) { margin: 0px }
        h3{ font-size: 30px; font-weight: 400; }
        
    }
}
.removeFromCarts{
    position: absolute;
    top: 10px; 
    left: 10px; 
    cursor: pointer; 
    border: none; background: none;
    font-size: 20px;
}