.creditCards{
    margin: 20px 0px;
    h3{ padding: 7px 0px;border-bottom: 1px solid rgb(224, 224, 224); font-weight: 400; margin-bottom: 10px; 
    span:nth-child(2){ text-decoration: underline; cursor: pointer; font-size: smaller; margin-right: 20px; color: rgb(153, 153, 153)}}
}